.delete {
  background-color: red;
}

mat-card {
  padding: 2em;
}

mat-card-title, mat-card-subtitle{
  text-align: center;
}

mat-card-footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
  p {
    line-height: 3;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    * {
      margin:auto;
    }
    button + button{
      margin-left: 0.5em;
    }
  }
}