<mat-card>
  <mat-card-title>{{camera.camera_name ? camera.camera_name : camera.camera_id}}</mat-card-title>
  <mat-card-subtitle>{{camera.topic_root}}</mat-card-subtitle>
  <mat-card-subtitle>{{secondSub}}</mat-card-subtitle>
  <mat-card-footer>
    <p>{{camera.camera_address}}</p>
    <p>
      <button mat-mini-fab aria-label="Edit button" (click)="$event.preventDefault(); $event.stopPropagation(); this.edit()">
        <mat-icon>edit</mat-icon>
      </button>      
      <button class="delete" mat-mini-fab aria-label="Delete button" (click)="$event.preventDefault(); $event.stopPropagation(); this.onCustomClick()">
        <mat-icon>{{customIcon}}</mat-icon>
      </button>
    </p>
  </mat-card-footer>
<mat-card-footer class="{{activeClass()}}">{{active()}}</mat-card-footer>
</mat-card>


<!--  export interface Camera {
    "camera_id": String,
    "camera_name": String,
    "camera_address": String,
    "topic_root": String,
    "mqtt_broker_ip": String ,
    "mqtt_broker_port": number
  }-->
