@import "../../../styles/colors.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

div {
  display: flex;
  flex-wrap: wrap;
  * {
    margin: auto;
  }
  margin: auto;
  margin-bottom: 1em;
}

app-show-camera {
  margin-right: auto;
  border: 0.5em solid transparent;
}

.crowd {
  border: 0.5em red solid;
}

:host ::ng-deep .mat-card:not([class*=mat-elevation-z]) {
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px;
}