@import "../../../styles/colors.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

div {
  display: flex;
  flex-wrap: wrap;
  * {
    margin: auto;
  }
  margin: auto;
}

app-show-camera {
  margin-right: auto;
  border: 2em solid transparent;
}

.crowd {
  border: 2em red solid;
}