div {
  display: flex;
  flex-wrap: wrap;
  * {
    margin: auto;
    margin-bottom: 1em;
  }
  margin: auto;
  margin-bottom: 1em;
}

.ok {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border: 0.5em solid transparent;
}

.crowd {
  border: 0.5em red solid;
}

:host ::ng-deep .mat-card:not([class*=mat-elevation-z]) {
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px;
}