<div>
  <mat-form-field>
    <input type="text" matInput placeholder="CameraID"/>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Tempo Inizio UTC"/>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Tempo fine UTC"/>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="topic"/>
  </mat-form-field>
</div>
<!--div class="container">
  <div class="mat-elevation-z8" class="tableContainer">
    <div *ngIf="isLoading" class="loading">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let element">
          {{ element.score | number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="guesses">
        <th mat-header-cell *matHeaderCellDef>Guesses</th>
        <td mat-cell *matCellDef="let element">
          {{ element.guesses | number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date:'dd/M/yy' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let element">
          {{ element.duration | number }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="['paginator']"></tr-->

    <!-- Paginator column -->
    <!--ng-container matColumnDef="paginator">
      <td mat-footer-cell *matFooterCellDef colspan="3">
        <mat-paginator
          [length]="total"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="currentPage"
          (page)="onPaginateChange($event)"
          showFirstLastButtons></mat-paginator>
      </td>
    </ng-container>
    </table>
  </div>
</div-->
