<div>
  <form [formGroup]="form" class="input" (ngSubmit)="this.select()">
    <mat-form-field>
      <input type="text" matInput placeholder="CameraID"  formControlName="id"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="NgxMatDatetimePickerI" placeholder="Choose 'from' Date" formControlName="Tinizio">
      <mat-datepicker-toggle matSuffix [for]="pickerI"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #NgxMatDatetimePickerI [showSpinners]="true" [showSeconds]="showSeconds"></ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="NgxMatDatetimePickerF" placeholder="Choose 'to' Date" formControlName="Tfine">
      <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #NgxMatDatetimePickerF [showSpinners]="true" [showSeconds]="showSeconds"></ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="topic"  formControlName="topic"/>
    </mat-form-field>
    <button type="submit" mat-button>New Search</button>
  </form>
</div>
<div class="container">
  <div class="mat-elevation-z8" class="tableContainer">
    <div *ngIf="isLoading" class="loading">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef>timestamp</th>
        <td mat-cell *matCellDef="let element">
          {{ element.timestamp*1000 | date:'short' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="camera_id">
        <th mat-header-cell *matHeaderCellDef>camera_id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.camera_id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef> topic </th>
        <td mat-cell *matCellDef="let element">
          {{ getRelevantTopic(element.topic) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="group_sizes">
        <th mat-header-cell *matHeaderCellDef> group_sizes </th>
        <td mat-cell *matCellDef="let element">
          {{element.group_sizes}}
        </td>
      </ng-container>
      <ng-container matColumnDef="people_number">
        <th mat-header-cell *matHeaderCellDef> people_number </th>
        <td mat-cell *matCellDef="let element">
          {{ element.people_number }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="['paginator']"></tr>

    <!-- Paginator column -->
    <ng-container matColumnDef="paginator">
      <td mat-footer-cell *matFooterCellDef colspan="3">
        <mat-paginator
          [length]="total"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="currentPage"
          (page)="onPaginateChange($event)"
          showFirstLastButtons></mat-paginator>
      </td>
    </ng-container>
    </table>
  </div>
</div>
