<div>
  <form [formGroup]="form" class="input">
    <mat-form-field>
      <input type="text" matInput placeholder="CameraID"  formControlName="id"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Tempo Inizio UTC"  formControlName="Tinizio"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Tempo fine UTC"  formControlName="Tfine"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="topic"  formControlName="topic"/>
    </mat-form-field>
  </form>
</div>
<div class="container">
  <div class="mat-elevation-z8" class="tableContainer">
    <div *ngIf="isLoading" class="loading">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef>timestamp</th>
        <td mat-cell *matCellDef="let element">
          {{ element.timestamp | date:'short' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="camera_id">
        <th mat-header-cell *matHeaderCellDef>camera_id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.camera_id | number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef> topic </th>
        <td mat-cell *matCellDef="let element">
          {{ element.topic | date:'dd/M/yy' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="group_sizes">
        <th mat-header-cell *matHeaderCellDef> group_sizes </th>
        <td mat-cell *matCellDef="let element">
          {{ element.data.group_sizes }}
        </td>
      </ng-container>
      <ng-container matColumnDef="people_number">
        <th mat-header-cell *matHeaderCellDef> people_number </th>
        <td mat-cell *matCellDef="let element">
          {{ element.data.people_number | number }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="['paginator']"></tr>

    <!-- Paginator column -->
    <ng-container matColumnDef="paginator">
      <td mat-footer-cell *matFooterCellDef colspan="3">
        <mat-paginator
          [length]="total"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="currentPage"
          (page)="onPaginateChange($event)"
          showFirstLastButtons></mat-paginator>
      </td>
    </ng-container>
    </table>
  </div>
</div>
