.nav-buttons {
  background-color: grey;
}
.mat-button{
  background-color: white;
}
button {
  color: black;
}

#desktop {
  display: none;
}

.div-buttons {
  display: grid;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
}

.space {
  padding-top: 3em;
}

.mat-drawer-side {
  border-right: 0px;
}
