.nav-buttons {
  background-color: grey;
}
.mat-button{
  background-color: white;
}
button {
  color: black;
}

#desktop {
  display: none;
}

.div-buttons {
  display: grid;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
}

/*#desktop {
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  * {
    display: flex;
    justify-content: flex-end;
  }
  margin: 0.5em 0 1em 0;
}

#mobile {
  display: none;
}

*/
